// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.post {
  margin-bottom: 15px;

  .title {
    font-weight: bold;
  }

  .description {
    color: #95999c;
  }
}